.pc_area {
    display: block;
}

.phone_area {
    display: none;
}

@media screen and (max-width: 1080px) {
    .pc_area {
        display: none;
    }
    .phone_area {
        display: block;
    }
}

html {
    height: 100%;
}

body {
    background-color: slategray;
    height: 100%;
}

.pc_area{
    padding: 10px 10px 20px 40px;
    height: calc(100% - 200px);
}

.phone_area {
    height: 100%;
}

a h2, p a {
    color: orange;
}

article p a {
    color: darkorange;
}

p {
    color: aliceblue;
    font-size: 16pt;
}

.phone_area p {
    color: aliceblue;
    font-size: 25pt;
}

.phone_article p {
    color: aliceblue;
    font-size: 25pt;
}

.header {
    float: both;
    overflow: auto;
}

.pc_area h1 {
    color: orange;
    font-size: 55pt;
    font-family: "Lobster", cursive;
    float: left;
}

.phone_area h1 {
    color: orange;
    font-size: 100pt;
    font-family: "Lobster", cursive;
    padding: 0px 0px 0px 50px;
    float: left;
}

.phone_header p {
    float: right;
    font-size: 25pt;
    padding: 60px 50px 0px 0px;
}

.akeet_button {
    size: 250%;
    clear: both;
    float: right;
    padding: 0px 6px 0px 0px;
}

.phone_akeet_low .post-form textarea, .phone_akeet_low .post-form input {
    font-size: 25pt;
    width: calc(270% - 83px);
    color: black;
}

.kakugen {
    color: aliceblue;
    font-family: "Lobster", cursive;
    float: right;
    padding: 500px, 500px, 500px, 500px;
}

.akeet_column {
    width: 65%;
    float: left;
    clear: both;
}

.user_column {
    width: 30%;
    float: right;
    height: calc(100%);
}

.post-form textarea, .post-form input {
    font-size: 16pt;
    width: 290%;
    color: black;
}

.middle {
    width: 100%;
    float: none;
    height: calc(100%);
}

.timeline_column {
    float: left;
    border:none;
    width:70%;
    height:1000px;
    padding:0;
    margin:0;
}

.timeline_low {
    border: none;
    width:98%;
    height: calc(100% - 270px);
    padding:0px 0px 0px 10px;
    margin: 10px;
    clear: both;
}

article {
    font-size: 16pt;
}

.phone_article {
    font-size: 25pt;
}

.akeet_form {
    float: left;
    padding: 4px 4px 4px 4px;
}

.save {
    float: left;
}

.auth_form {
    font-size: 32pt;
    clear: both;
    padding: 20px 20px 20px 20px;
    color: aliceblue;
}

.auth_form textarea, .auth_form input{
    width: 100%;
    color: black;
}

.sign {
    float: right;
    font-size: 25pt;
    font-family: "Lobster", cursive;
}

.sign input {
    color: orange;
}

.button_setting {
    font-size: 40pt;
    color: orange;
}

time {
    color: lightsteelblue;
}

.thumbnail {
    clear: both;
    float: left;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 0px 10px 30px;
}

.pc_thumbnail {
    float: left;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 0px 10px 30px;
}

.vios {
    font-size: 25pt;
    float: left;
    overflow: hidden;
    margin: 15px 0px 0px 30px;
    width: calc(100% - 390px);
}

.pc_vios {
    font-size: 16pt;
    float: left;
    overflow: hidden;
    margin: 10px 0px 0px 30px;
    width: calc(70% - 275px);
}

.pc_user_detail_button {
    float: right;
    font-family: "Lobster", cursive;
    color: orange;
    font-size: 16pt;
    margin: 5px;
}

.user_detail_button {
    float: right;
    font-family: "Lobster", cursive;
    color: orange;
    font-size: 25pt;
    margin: 5px;
}

.user_detail_button_off {
    float: right;
    font-family: "Lobster", cursive;
    font-size: 25pt;
    margin: 5px;
}

.vio_edit_form {
    clear: both;
    font-size: 25pt;
    padding: 5px 20px;
}

.vio_edit_form textarea, .vio_edit_form input {
    color: black;
    width: 90%;
}

.pc_vio_edit_form {
    clear: left;
    font-size: 16pt;
    width: 65%;
}

.pc_vio_edit_form textarea, .pc_vio_edit_form input {
    color: black;
    width: 700px;
}

.their_akeet_low {
    width:98%;
    padding:0px 0px 0px 10px;
    margin: 10px;
    clear: both;
}

.pc_their_akeet_low {
    width:70%;
    padding:35px 0px 0px 10px;
    margin: 10px;
    clear: left;
}