{% extends 'akitter/base.html' %}

{% block pc_area %}
<div class="akeet_column">
    <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
        <dev class="akeet_form">
            {{ akeet_form.text }}
        </dev>
    </form>
</div>
<div class="user_column">
    {% if user.is_authenticated %}
        <p align="center">Hello, {{ user.username }}</p>
        <p align="center">(<a href="{% url 'signout' %}">Sign Out</a>)</p>
    {% else %}
        <p align="center">(<a href="{% url 'signin' %}">Sign In</a>) (<a href="{% url 'signup' %}">Sign Up</a>)</p>
    {% endif %}
    <p align="center">(<a href="{% url 'how_to_use_akitter' %}">How To Use</a>)</p>
</div>
<iframe id="timeline_frame" src="{% url 'timeline_frame' %}" class="timeline_column">
</iframe>
{% endblock pc_area %}

{% block phone_area %}
<div class="phone_akeet_low">
    <form method="POST" class="post-form">{% csrf_token %}
        <dev class="akeet_button">
            <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-send button_setting" aria-hidden="true"></span></button>
        </dev>
        <dev class="akeet_form">
            {{ akeet_form.text }}
        </dev>
    </form>
</div>
<iframe id="timeline_frame" src="{% url 'phone_timeline_frame' %}" class="timeline_low">
</iframe>
{% endblock phone_area %}