{% extends 'akitter/base.html' %}

{% block body %}
<div class="akeet_column">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ akeet_form.as_p }}
        <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
    </form>
</div>
<div class="user_column">
    {% if user.is_authenticated %}
        <p align="center">Hello, {{ user.username }}</p>
        <p align="center">(<a href="{% url 'signout' %}">Sign Out</a>)</p>
    {% else %}
        <p align="center">(<a href="{% url 'signin' %}">Sign In</a>) (<a href="{% url 'signup' %}">Sign Up</a>)</p>
    {% endif %}
    <p align="center">(<a href="{% url 'how_to_use_akitter' %}">How To Use</a>)</p>
</div>
<div id="iframeBlock">
<div class="iframeBody">
<iframe id="timeline_frame" src="{% url 'timeline_frame' %}" class="timeline_column">
</div>
</div>
</iframe>
{% endblock body %}
