{% extends 'akitter/base.html' %}

{% block pc_area %}
<div class="akeet_column">
    <h2>使い方</h2>
    <ul>
        <li>ログインすると呟くことができます。</li>
        <li>一回の発言につき31文字までの制限があります。</li>
    </ul>
</div>
<div class="user_column">
    {% if user.is_authenticated %}
        <p align="center">Hello, {{ user.username }}</p>
        <p align="center">(<a href="{% url 'signout' %}">Sign Out</a>)</p>
    {% else %}
        <p align="center">(<a href="{% url 'signin' %}">Sign In</a>) (<a href="{% url 'signup' %}">Sign Up</a>)</p>
    {% endif %}
    <p align="center">(<a href="{% url 'how_to_use_akitter' %}">How To Use</a>)</p>
</div>
{% endblock pc_area %}

