<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/akitter.css"%}">
        <title>Akitter</title>
    </head>
    <body>
        {% for author in authors %}
            <p>{{ author }}</p>
        {% endfor %}
        {% for akeet in akeets %}
            <article class="phone_article">
                <p><a href="{% url 'user_detail' pk=akeet.author.pk %}" target="_parent" class="author">{{ akeet.author }}</a>: {{ akeet.text }} | <time>{{ akeet.published_date }}</time></p>
            </article>
        {% endfor %}
    </body>
</html>